@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-[#0a0a0a] dark:text-white transition-colors duration-200;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-white/10;
  border-radius: 10px;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
